# CGT 290 Week3- LAB
## Python Tutorial: List, Tuple, and Dictionary

### Feb 3, 2021
Tejasvi Harshwal

# List
A list is a kind of collection.
A collection allows us to put many values in a single “variable”.\
List constraints are surrounded by square brackets and the elements in the list are separated by commas.\
A list can be empty too!

In [1]:
c = ['apple', 'ball', 'cat', 'dog', 'horse']
print(c)

['apple', 'ball', 'cat', 'dog', 'horse']

In [2]:
scores= [30,40,20]
print(scores)

[30, 40, 20]

In [3]:
print(['man', 10, "hellooooooo"])

['man', 10, 'hellooooooo']

## Assessing Elements
We can get at any single element in a list using an index specified in square brackets.\
Index starts from 0.\
Index must be integer.

In [4]:
x= [1,2,3,4,5]
print(x[0])
print(x[3])

1
4

If the index is negative value, it counts backward from the end of the list.

In [6]:
x= [1,2,3,4,5]
print(x[-0])
print(x[-4])

1
2

Like many languages, Python has a for-each statement. This allows you to loop over every element in a collection.

In [7]:
# Iterate over a collection.
c = ['apple', 'ball', 'cat', 'dog', 'Remus Lupin']
for s in c:
    print(s)

apple
ball
cat
dog
Remus Lupin

A list/array can have multiple objects added to it, such as strings.

In [8]:
# Manually add items, lists allow duplicates
c = []
c.append('a')
c.append('b')
c.append('c')
c.append('hehehehehehhehehehehehehe')
print(c)

['a', 'b', 'c', 'hehehehehehhehehehehehehe']

A set can include objects/strings, but without duplication

In [9]:
c = set()
c.add('a')
c.add('b')
c.add('c')
c.add('gmtrbw')
print(c)

{'c', 'b', 'a', 'gmtrbw'}

A list can have items inserted or removed. For insert, a index must be specified.

In [11]:
# Insert
c = ['a', 'b', 'c']
c.insert(1, '0')
print(c)

['a', '0', 'b', 'c']

In [12]:
# Remove
c.remove('b')
print(c)

['a', '0', 'c']

In [13]:
# Remove at index
del c[2]
print(c)

['a', '0']

The len() function takes a list as a parameter and returns the number of elements in the list.

In [14]:
numbers_list1= [1,2,3,4]
numbers_list2= [1, [20,[2,[3],0],30], 40]
print(len(numbers_list1))
print(len(numbers_list2))

4
3

Lists are mutable- we can change an element of a list using index operator.

In [15]:
x= [1,2,3,4,5]
x[1]= 99999999
print(x)

[1, 99999999, 3, 4, 5]

A range function "range(m)" returns a list of numbers that range 0 to m-1.

In [17]:
for i in range(70):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69

We can create a new list by adding 2 existing lists together

In [18]:
a=[1,2]
b=[3,4]
c= a + b
print(c)
d=[a,b]
e= c + d
print(e)

[1, 2, 3, 4]
[1, 2, 3, 4, [1, 2], [3, 4]]

### Built in functions

In [19]:
x= [3,44,13,11,77,15]
print(len(x))
print(max(x))
print(min(x))
print(sum(x))
print(sum(x)/len(x))

6
77
3
163
27.166666666666668

In [21]:
numlist=list()
while True:
    num=input('Enter a number:')
    if num=='done':
        break
    value= int(num)
    numlist.append(value)
average= sum(numlist)/len(numlist)
print('Average:', average)

Average: 5.0

### Building a list from scratch. 
We can create an empty list and then add elements using the append method.

In [22]:
x= list()
print(x)

[]

In [23]:
x.append('pencil')
x.append(10)
print(x)

['pencil', 10]

In [24]:
x.insert(1, 'red') #x.insert(index position, element)
print(x)

['pencil', 'red', 10]

In [25]:
x.append([4,5])
print(x)

['pencil', 'red', 10, [4, 5]]

A list is an ordered sequence. It can be sorted.

In [26]:
x=[2,45,6]
x.sort()
print(x) #sort by small to large

[2, 6, 45]

In [28]:
x= ['blue','2','4','red']
x.sort()
print(x) #number has high priority

['2', '4', 'blue', 'red']

Use a list enumerate function to track what index location a list element is at.

In [29]:
a = ['one','two','three','four','five']
list(enumerate(a))

[(0, 'one'), (1, 'two'), (2, 'three'), (3, 'four'), (4, 'five')]

# Tuple
A Tuple is similar to a list except it is immutable (the elements of the tuple can not be modified).
A Tuple is comma seperated list of values.

In [30]:
tuple1= 'red', 'blue', 'green'
tuple2= ('red', 'blue',1)
print(tuple1, tuple2)

('red', 'blue', 'green') ('red', 'blue', 1)

In [31]:
tuple2[3]= 5 #becasue immutable

TypeError: 'tuple' object does not support item assignment

To create a tuple with single element we conclude with a final comma.

In [34]:
tuple=('red',)
print(tuple)

('red',)

We can not modify the elements of a tuple but we can replace it with another.

In [36]:
tuple=('red', 'blue', 'green')
tuplenew= ('blueberry',) + tuple[1:]
print(tuplenew)

('blueberry', 'blue', 'green')

We can not sort or append a tuple because no changes can be made.
Since Python does not have to build tuple structures to be modifiable, they are simpler and more efficient in terms of memory use and performance than lists.\
In any program that we make where we need 'temporary variable', we prefer tuples over lists.

### Random numbers
The random module contains a function called 'Random' that returns a floating point number between 0 and 1.

In [37]:
import random
x= random.random()
print(x)

0.33558456185291174

In [38]:
import random
y= random.random()
print(y)

0.5114861439579986

## Dictionary

Many programming languages include the concept of a map, dictionary, or hash table. These are all very related concepts. This is essentially a collection of name value pairs.

Basic data structre for dictionary in Python:
 -------------------------------------
| d = {key1 : value1, key2 : value2 } |
 -------------------------------------
 
 Note:
 1. key has to be unique, but value doesn't have to be.
 2. value could be any data type, but key must be number, string or tuple

In [40]:
d = {'name': "Sherlock Holmes", 'address':"221b Baker Street", 'age':"idk actually"}
print(d)
print(d['name'])

{'name': 'Sherlock Holmes', 'address': '221b Baker Street', 'age': 'idk actually'}
Sherlock Holmes

In [41]:
if 'name' in d:
    print("Name is defined")

if 'age' in d:
    print("age defined")
else:
    print("age undefined")

Name is defined
age defined


You can also access the individual keys and values of a dictionary.\
Dictionaries are immutable.

In [42]:
student = {} #defining dictionary
student['name']= 'David'
student['major']= 'Math'
student['school']= 'IU'
print(student)

{'name': 'David', 'major': 'Math', 'school': 'IU'}

Dictionaries are like bags- no order.

In [43]:
bag= {}
bag['money']= [0]
bag['chocolate']=5
bag['pen']= 2
print(bag)
bag['money']

{'money': [0], 'chocolate': 5, 'pen': 2}

[0]

In [44]:
bag['money'][0]

0

dictionaryname.keys() returns a list of the keys.\
dictionaryname.values() retuns a list of values.

In [45]:
d = {'name': "Jeff", 'address':"123 Main"}
# All of the keys
print(d.keys())

# All of the values
print(d.values())

dict_keys(['name', 'address'])
dict_values(['Jeff', '123 Main'])

In [46]:
mydictionary={'age':2000,'score':90}
mydictionary.keys()

dict_keys(['age', 'score'])

In [47]:
mydictionary.values()

dict_values([2000, 90])